.page__title {
    display: flex;
    align-items: center;
    padding:0.5rem 1rem;

}
.page__title--title {
    padding: 0 1rem;
    font-family: 'Tomorrow';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    color: #edf1ff;
    opacity: 0.9;
}